language: android   # 声明构建语言环境

notifications:      # 每次构建的时候是否通知，如果不想收到通知邮箱，那就设置false吧
  email: false

sudo: false         # 开启基于容器的Travis CI任务，让编译效率更高。

android:            # 配置信息
  components:
    - tools
    - build-tools-25.0.0
    - android-24
    - extra-android-m2repository     # Android Support Repository
    - extra-android-support          # Support Library

before_install:
 - chmod +x gradlew  # 改变gradlew的访问权限


